.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.card .cart-empty {
    background-color: #82ae46;
}
.card .cart-empty h3,
h4,
h5 {
    color: #fff;
}

.badge-primary {
    background-color: #82ae46;
}

.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px;
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative;
}

.track .step.active:before {
    background: #82ae46;
}

.track .step.step-cancel:before {
    background: #ff5722;
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px;
}

.track .step.active .icon {
    background: #82ae46;
    color: #fff;
}

.track .step.step-cancel .icon {
    background: #ff5722;
    color: #fff;
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd;
}

.track .step.active .text {
    font-weight: 400;
    color: #000;
}

.track .text {
    display: block;
    margin-top: 7px;
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.img-sm {
    width: 80px;
    height: 80px;
    padding: 7px;
}

ul.row,
ul.row-sm {
    list-style: none;
    padding: 0;
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px;
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529;
}

.u-icon--secondary {
    color: #fff;
    background-color: #7fad39;
    border-color: #7fad39;
}

.u-icon {
    position: relative;
    z-index: 1;
    line-height: 0.7;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 2.75rem;
    height: 2.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: 0.3s ease-in-out;
    width: 6rem !important;
    height: 6rem !important;
    font-size: 2.25rem !important;
    border-radius: 50% !important;
}

.u-icon__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nav-search {
    width: 100%;
}

.form-search {
    border-radius: 5px;
    color: #414141;
    font-size: 14px;
    padding: 10px !important;
    height: 40px !important;
}

.form-search::placeholder {
    color: #6c757d;
    opacity: 0.6;
}

@media only screen and (max-width: 600px) {
    .form-search {
        margin: 0 !important;
    }
}

@media only screen and (min-width: 600px) {
    .nav-search {
        width: 400px !important;
    }
    .form-search {
        margin-left: 20px;  
        margin-right: 10px;
    }
}

.form-filter {
    font-size: 14px;
    border-radius: 5px;
    padding: 10px !important;
    height: 45px !important;
    padding: 10px 25px;
}

.filter__item {
    padding: 10px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
}

.filter__sort {
    margin-bottom: 15px;
}

.filter__sort span {
    font-size: 16px;
    color: #6f6f6f;
    display: inline-block;
}

.filter__found {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter__found h6 {
    font-size: 16px;
    color: #b2b2b2;
}

.filter__found h6 span {
    color: #505050;
    font-weight: 700;
    margin-right: 5px;
}
